@using SD.Web.Areas.UserRegular.Models
@model UserSensorViewModel
@{
    ViewData["Title"] = "Sensor";
}

<h2>@Model.Name</h2>
<h2>@Model.AlarmMin</h2>
<h2>@Model.AlarmMax</h2>
<h2>@Model.AlarmTriggered</h2>
<h2>@Model.Coordinates</h2>
<h2>@Model.Description</h2>
<h2>@Model.Id</h2>
<h2>@Model.IsPublic</h2>
<h2>@Model.LastValueUser</h2>
<h2>@Model.Type</h2>
<h2>@Model.Name</h2>
<h2>@Model.Name</h2>

