@model SensorTableViewModel

<td>@Model.Name</td>
<td>@Model.LastValue</td>
<td>@Model.Latitude</td>
<td>@Model.Longitude</td>
<td>@(Model.AlarmTriggered)</td>
<td>@(Model.IsPublic)</td>
<td>
	<div class=" dark-theme">
		<a class="page-link"
		   asp-area="Administration" asp-controller="Sensor" asp-action="Modify" asp-route-id="@Model.Id">Modify Sensor</a>
	</div>
</td>